@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.background {
    width: 100%;
    margin-bottom: 2rem; 
}

.background svg {
    display: block;
    width: 100%;
    height: auto;
}

.faq-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 750px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 3px 3px 30px hsl(292, 16%, 49%);
    position: relative;
    top: 15em; 
    padding: 2rem; 
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    max-height: 130px;
}

header svg {
    margin-left: 20px;
}

header h1 {
    font-size: 3em; 
    margin-left: 30px;
}

main {
    margin-left: 30px;
}

.question {
    margin-bottom: 1.5rem; 
}

.question h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem; 
    cursor: pointer; 
}

.question h2:hover {
    color: hsl(292, 16%, 49%);
}

.question p {
    font-size: 18px;
    color: gray;
    font-weight: 340;
    width: 650px; 
}

.question h2 > svg {
    margin-left: 10px; 
}
