@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container{
    scroll-snap-type: snap-mandatory;
    display: flex;
    height: 850px;
}


.hero_section_left h1{
    font-size: 80px;
    margin: 0;
    color: #696969;
}

.customer_review_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviewer_one,
#reviewer_two,
#reviewer_three{
    height: 100px;
}

#reviewer_one{
    height: 300px;
}

#reviewer_three{
    height: 285px;
}

.hero_section_right{
    margin-top: 50px;
}


.partners{
    position: absolute;
    top: 87%;
    margin-top: 20px; 
}

.partners span{
    display: flex;
    justify-content: space-evenly;
}

.partners img{
    margin-left: 20px;
    width: 55px;
    filter: grayscale(100);
}

.partners img:hover{
    filter: grayscale(0);
}

.socials{
    position: absolute;
    top: 90%;
    left: 76%;
}

.socials img{
    height: 40px;
    filter: grayscale(100);
    margin-left: 20px;
}

.socials img:hover{
    filter: grayscale(0);
}

.stats aside{
    display: flex;
    justify-content: space-evenly;
}

.stats aside div > h1{
    margin-bottom: 0;
    font-size: 50px;
}

.stats aside div > p{
    margin-top: 0;
    font-size: 30px;
}
