
nav{
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    border-radius: 20px;
}

nav header{
    margin-left: 10px;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-right: 10px;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.hero_section_left h1{
    font-size: 40px;
}

.container article > figure {
    margin: 0;
}

.container article figure > img{
    width: 700px;
    height: 500px;
    border-top-right-radius: 100px;
    border-radius: 10px;
}

.container img{
    width: 40%;
    height: 70%;
}

.partners{
    margin-top: 20px;
    display: flex;
}

.partners img{
    width: 100px;
}

