@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    color: white;
    background-color: black;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

nav header{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 10px;
  font-size: 30px;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-right: 10px;
}

.container{
    scroll-snap-type: mandatory;
    display: flex;
    height: 850px;
}


.hero_section_left h1{
    font-size: 90px;
    margin: 0;
    color: #696969;
}

.hero_section_right{
    margin-top: 50px;
}

#hero_description{
    font-size: 25px;
}

button{
    height: 60px;
    width: 220px;
    background-color: #696969;
    border: 0;
    border-radius: 15px;
}

button:hover{
    background-color: #1B56FD;
}

.partners{
    position: absolute;
    top: 87%;
    margin-top: 20px; 
}

.partners span{
    display: flex;
    justify-content: space-evenly;
}

.partners img{
    margin-left: 20px;
    width: 55px;
    filter: grayscale(100);
}

.partners img:hover{
    filter: grayscale(0);
}

.socials{
    position: absolute;
    top: 90%;
    left: 76%;
}

.socials img{
    height: 40px;
    filter: grayscale(100);
    margin-left: 20px;
}

.socials img:hover{
    filter: grayscale(0);
}

.stats aside{
    display: flex;
    justify-content: space-evenly;
}

.stats aside div > h1{
    margin-bottom: 0;
    font-size: 50px;
}

.stats aside div > p{
    margin-top: 0;
    font-size: 30px;
}